<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Welcome to the Weightlifting App <%= @user.name %>!</p>
    <p>
    User Information:<br>
    --------------------------
    </p>
    <p>Name: <%= @user.name %></p>
    <p>Username: <%= @user.username %></p>
    <p>
    ----------
    How To Use The App:<br>
    </p>
    <p>There are global lifts and workouts that you can use to create your customized program!</p>
    <p>If you want to add your own, you can add lifts and workouts.</p>
    <p>After you've created your own program, and linked your workouts and lifts (through workouts), your home page will bring in each day's workout.</p>
    <p>Fill in your completed sets, reps, and weight to save this information. The next time the lift appears, whether in the same or a different workout, you will be able to use this for reference. Your one rep max will be calculated and replaced if you increase this value!</p>
  </body>
</html>